.button {
  background-color: #4caf50;
  color: white;
  font-size: 32px;
  padding: 20px 40px;
  //border-radius: 12px;
  transition: background-color 0.3s;

  &:hover {
    background-color: #66bb6a;
  }

  &:active {
    transform: scale(0.95);
  }
}
